@media (max-width: 475px) {
    body {
        font-size: 0.875rem !important; /* 14px */
    }

    section#hero-section {
        padding: 120px 20px !important;
    }

    @media (max-width: 350px) {
        section#hero-section {
            padding: 120px 20px !important;
        }

        header {
            padding: 0 !important;
        }

        nav#sub-nav-bar > ul > li {
            width:fill-content;
            max-width: 150px!important;
        }
    }
}
