/* Mobile styles */
@import url('./mobile/mobile-styles.css');

@import url('./tablet/tablet-styles.css');

/* Global Styles and variables */
:root {
    --purple: #002f6c;
    --white: #ffffff;
    --lightblue: #76B8FE;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0px !important;
}

body {
    background: var(--white);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
header {
    width: 100%;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 99999;
    top: 20px;
    padding: 0px 120px;
}

header > div.logo img{
    width: 8rem;
}

/* Navigation section */
header > nav {
    align-self: normal;
}

header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

header > nav > ul > li {
    list-style: none;
}

header > nav > ul > li a {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
}

header > nav > ul > li a:hover { 
    background: #002f6c;
    color: var(--white);
}

/* Hero section */
section#hero-section {
    width: 100%;
    min-height: 600px;
    background: url('../images/new/bg.png'), var(--black);
    margin: -55px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:end;
    padding: 0px 260px 120px 260px;
    text-align: left;
}

section#hero-section > div.hero-content {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section#hero-section > div.hero-content h1 {
    font-weight: bold;
    font-size: 48px;
    max-width: 400px;
}

section#hero-section > div.hero-content > h1 span { 
    font-size: 45px;
    color: var(--purple);
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 10px;
}

section#hero-section > div.hero-content span {
    font-size: 20px;
    max-width: 550px;
}

section#hero-section > div.hero-content a {
    padding: 10px 20px;
    background: var(--white);
    color: var(--purple);
    text-decoration: none;
    width:fit-content;
}

section#hero-section > div.hero-content a:hover {
    background: var(--purple);
    color: var(--white);
}

/* Sub navigation */
nav#sub-nav-bar {
    width:100%;
    height:fit-content;
    background: var(--white);
    display: flex;
    justify-content: center;
    margin-top: -64px;
    overflow-x: auto;
}

nav#sub-nav-bar > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav#sub-nav-bar > ul > li {
    list-style: none;
    text-decoration: none;
    color: var(--purple);
    padding: 20px;
    width: 200px;
}

nav#sub-nav-bar > ul > li:hover {
    background: var(--lightblue);
}

nav#sub-nav-bar > ul > li a { 
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--purple);
}

nav#sub-nav-bar > ul > li.auto-active {
    background: var(--purple);
}

nav#sub-nav-bar > ul > li.auto-active a {
    color: var(--white);
}
